apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: piracy

resources:
  - sealed-spotify-credentials.yaml

helmCharts:
  - name: app-template
    releaseName: spotizerr
    namespace: piracy
    version: 4.3.0
    repo: https://bjw-s-labs.github.io/helm-charts
    valuesFile: values.yaml

patches:
  - target:
      kind: Deployment
      name: spotizerr
    path: patches/nfs-mount-music.yaml

# kustomization.yaml
configMapGenerator:
  - name: configuration
    files:
      - config/main.yaml
    options:
      disableNameSuffixHash: true
