controllers:
  spotizerr:
    strategy: Recreate
    containers:
      redis:
        image:
          repository: redis
          tag: 7.4.2-alpine
      app:
        image:
          # repository: lavaforge.org/spotizerr/spotizerr
          # tag: latest
          repository: ubuntu
          tag: noble
        command:
          - sleep
          - infinity
        env:
          REDIS_HOST: "localhost"
          REDIS_PORT: 6379
          REDIS_DB: 0
          REDIS_URL: redis://localhost:6379/0
          REDIS_BACKEND: redis://localhost:6379/0

service:
  spotizerr:
    controller: spotizerr
    ports:
      http:
        port: 7171

ingress:
  spotizerr:
    enabled: true
    className: nginx
    annotations:
      kubernetes.io/ingress.class: nginx
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Piracy
      gethomepage.dev/icon: spotify
      gethomepage.dev/name: Spotify Downloader
      gethomepage.dev/description: Download albums or playlists from spotify to the Nas
      uptimekuma.io/monitor: "true"
      uptimekuma.io/name: "Spotifzerr"
      uptimekuma.io/type: "http"
      uptimekuma.io/interval: "120"
    hosts:
      - host: spotdl.herrington.services
        paths:
          - path: /
            service:
              identifier: spotizerr
              port: http
    tls:
      - secretName: spotizerr-tls
        hosts:
          - spotdl.herrington.services

persistence:
  config:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
    advancedMounts:
      spotizerr:
        app:
          - path: /app/data
  credentials:
    type: secret
    name: spotizerr-spotify-credentials
    globalMounts:
      - path: /secrets
  config-map:
    type: configMap
    name: configuration
    globalMounts:
      - path: /config
