clusterSize: 3

couchdbConfig:
  couchdb:
    uuid: "8492704f-05bf-4ac6-85d9-4d6a696278e7"

# Has to be set
# https://github.com/apache/couchdb-helm/issues/114
createAdminSecret: false
extraSecretName: 'couchdb-admin'
adminHash: 'notactuallyusedbuthastobeset'

autoSetup:
  enabled: true
  defaultDatabases:
    - _global_changes
    - _users
    - obsidian

persistentVolume:
  enabled: true
  accessModes:
    - ReadWriteOnce
  size: 50Gi
  storageClass: freenas-iscsi-ssd-csi

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - obsidian-sync.herrington.services
  tls:
    - secretName: obsidian-sync-tls
      hosts:
        - obsidian-sync.herrington.services

erlangFlags:
  name: couchdb
  setcookie: 'erlangcookie1'
